.additional-product-list {
  //border-top: 1px solid $stats-border-color;;

  @media (min-width: $tablet-width) {
    //border-left: 1px solid $stats-border-color;
    //border-right: 1px solid $stats-border-color;
  }
}

.additional-product-list__item {
  border-top: 1px solid $stats-border-color;
  padding: 13px 0 17px 0;

  @media (min-width: $tablet-width) {
    border-left: 1px solid $stats-border-color;
    border-right: 1px solid $stats-border-color;
    padding: 26px 37px 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    padding: 15px 0 17px;
    //display: flex;
    //flex-wrap: nowrap;
    //justify-content: space-between;
    //align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 40px;
  }

  &:last-child {
    border-bottom: 1px solid $stats-border-color;
  }
}

.additional-product-list__item-title {
  color: $product-list-item-header-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-product-list__item-desc-key {
  color: $secondary-text-color;
  font-family: $ff-Lato;
  font-size: 14px;
  line-height: 14px;
  margin: 13px 0 0 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    width: 230px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    text-align: left;
  }
}

.additional-product-list__item-desc-value {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}

.additional-product-list__item-button {
  margin: 15px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 25px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 244px;
    height: 40px;
  }
}
