.additional {
  padding: 26px 0 35px;

  font-family: $ff-Oswald;

  @media (min-width: $tablet-width) {
    padding: 70px 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 88px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 58px 80px;
  }
}

.additional__title {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }
}

.additional__list {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;

    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;

    border: none;
  }
}

.additional__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 14px 20px;
  justify-content: space-between;
  padding: 13px 0 18px;

  border-bottom: 1px solid $stats-border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 150px 70px;
    gap: 18px 23px;
    padding: 26px 37px 28px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 220px 60px 244px;
    align-items: center;
    padding: 16px 0 15px;
  }

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }
}

.additional__subtitle {
  grid-column: 1 / -1;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $product-list-item-header-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: auto;
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional__item span {
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-Lato;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional__button {
  grid-column: 1/-1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}
