.alive-example {
  width: 100%;
  padding: 0;
  background-color: $secondary-background-color;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    //background-color: $base-background-color;
    background-image: linear-gradient($base-background-color 70%, $secondary-background-color 30%);
    border-top: 1px solid $site-list-border-color;
  }

  @media (min-width: $desktop-width) {
    border: none;
    background-image: linear-gradient($base-background-color 25%, $secondary-background-color 25%);
  }
}

.alive-example__wrapper {
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 55px 75px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.alive-example__text-wrapper {
  width: 280px;
  padding: 0 20px;
  //background-color: $secondary-background-color;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 0;
    height: 100%;
    gap: 70px;
  }
}

.alive-example__header {
  margin: 25px 0 0 0;
  padding: 0;

  color: $base-text-color;
  font-family: $ff-Oswald;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    height: 140px;
  }
}

.alive-example__text {
  margin: 40px 0 0 0;
  padding: 0;

  color: $secondary-text-color;
  font-family: $ff-Lato;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 60px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 440px;
  }
}

.alive-example__stats {
  margin: 20px 0 0 0;

  @media (min-width: $tablet-width) {
    margin-top: 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.alive-example__cat-slider {
  @media (min-width: $tablet-width) {
    margin-top: 250px;
  }

  @media (min-width: $desktop-width) {
    //width: 440px;
    padding: 0;
    margin: 0;
  }
}
