.alive-example {
  width: 100%;
  border: 2px solid #000000;
  margin: 0;
  padding: 0;
  background-color: $secondary-background-color;
  font-style: normal;
  font-weight: 400;
}

.alive-example__text-wrapper {
  width: 280px;
  padding: 0 20px;
  //background-color: $secondary-background-color;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.alive-example__header {
  margin: 25px 0 0 0;
  padding: 0;

  color: $base-text-color;
  font-family: Oswald, Roboto, sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.alive-example__text {
  margin: 40px 0 0 0;
  padding: 0;

  color: $secondary-text-color;
  font-family: Lato, Roboto, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.alive-example__stats {
  margin: 20px 0 0 0;
}
