.catalog__header {
  margin: 0 -20px;
  padding: 25px 20px 38px;

  border-top: 1px solid $section-border-color;
  border-bottom: 1px solid $section-border-color;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px;
    padding: 40px 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 43px;
    padding: 50px 0;
  }
}
