.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $secondary-text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;

    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    gap: 23px;
    width: fit-content;

    justify-self: end;
  }
}
