.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $secondary-background-color;
}

.main-footer__wrapper {
  width: 280px;
  padding: 40px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 280px;
}

.main-footer__logo {
  padding-bottom: 20px;
  border-bottom: 1px solid #D9D9D9;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: auto;
}

.main-footer__copyright {
  padding-top: 20px;
  border-top: 1px solid #D9D9D9;
}
