.main-header {
  margin: 0;
  padding: 0;
  position: relative;
}

.main-header__nav {
  width: 100%;

  &--home {
    @media (min-width: $desktop-width) {
      position: absolute;
      z-index: 2;
      top: 55px;
    }
  }
}
