.main-footer {
  padding: 40px 0;

  background-color: $secondary-background-color;

  @media (min-width: $tablet-width) {
    padding: 57px 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0 65px;
  }
}

.main-footer__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 140px 1fr;
    align-items: center;
  }
}

.main-footer__logo {
  grid-template-columns: 1fr;
  width: 128px;
  height: 24px;
  margin: 0 auto 19px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &:hover,
  &:focus {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.main-footer__social {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 19px;

  border-top: 1px solid $section-border-color;
  border-bottom: 1px solid $section-border-color;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0;

    border: none;
  }
}
