.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 25px 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.main-nav__control {
  @media (max-width: $mobile-only) {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    align-items: center;
    min-height: 65px;
  }
}

.main-nav__logo {
  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toogle {
  position: relative;

  width: 30px;
  height: 30px;
  margin-right: -2px;

  background-color: transparent;
  border: none;

  transition-duration: 400ms;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav__toogle-line {
  position: absolute;
  top: 46%;
  left: 50%;

  width: 24px;
  height: 2px;

  background-color: #000000;
  transform: translate(-50%, -50%);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;

    width: 24px;
    height: 2px;

    background-color: #000000;
    transform: translateX(-50%);
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.main-nav__site-list-wrapper {
  @media (max-width: $mobile-only) {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2;

    display: none;
    margin: 0 -20px;

    background-color: $base-background-color;
  }

  @media (min-width: $tablet-width) {
    padding: 4px 5px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 0;
  }
}

.main-nav--open .main-nav__site-list-wrapper {
  display: block;
}

.main-nav--open .main-nav__toogle-line {
  background-color: transparent;

  &::before {
    top: 50%;

    transform: translate(-35%, -50%) rotate(-46deg);
  }

  &::after {
    top: 50%;

    transform: translate(-35%, -50%) rotate(46deg);
  }
}

.no-js .main-nav__toogle {
  display: none;
}

.no-js .main-nav__site-list-wrapper {
  position: static;

  display: block;
}
