.program {
  padding: 30px 20px 20px;

  font-family: $ff-Oswald;

  background-color: $secondary-background-color;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 77px 315px 58px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 53px 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--slim {
    background-image: url("../img/sprite.svg#cat-slim");
    background-position: 22px 21px;
    background-size: 50px 53px;

    @media (min-width: $tablet-width) {
      background-position: top 80px right 62px;
      background-size: 200px 211px;
    }

    @media (min-width: $desktop-width) {
      background-position: 52px 41px;
      background-size: 100px 106px;
    }
  }

  &--pro {
    background-image: url("../img/sprite.svg#cat-pro");
    background-position: 13px 24px;
    background-size: 67px 50px;

    @media (min-width: $tablet-width) {
      background-position: top 92px right 30px;
      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      background-position: 34px 47px;
      background-size: 134px 100px;
    }
  }
}

.program__header {
  margin: 0 0 30px 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $base-text-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.program__desc {
  margin: 0 0 20px;
  padding-bottom: 22px;

  font-size: 14px;
  line-height: 18px;
  font-family: $ff-Lato;
  color: $secondary-text-color;

  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 24px;
    color: $base-text-color;

    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;
  }
}

.program__link {
  position: relative;

  display: block;
  width: fit-content;
  margin-top: auto;
  padding-right: 48px;

  line-height: 16px; /* 100% */
  color: $base-text-color;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-right: 57px;

    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: " ";
    position: absolute;
    top: 45%;
    right: 0;

    width: 32px;
    height: 10px;

    background-image: url("../img/sprite.svg#right-arrow");
    background-repeat: no-repeat;
    background-position: left -4px bottom 50%;
    background-size: contain;
    transform: translateY(-50%);
  }

  &:hover::after,
  &:focus::after {
    background-position: left 0 bottom 50%;
  }

  &:active {
    opacity: 0.3;
  }
}
