.programs {
  @media (max-width: $mobile-only) {
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 81px;
  }
}

.programs__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
