.programs__wrapper {
  width: 280px;
  padding: 20px 20px;
  margin: auto;
  /*display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;*/
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    grid-template-columns: 708px;
    grid-row-gap: 30px;
  }
}
