.programs__wrapper {
  width: 280px;
  padding: 20px 20px;
  margin: auto;
  display: grid;
  grid-template-columns: 280px;
  grid-row-gap: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    grid-template-columns: 708px;
    grid-row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 82px 55px 71px;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
