.program {
  padding: 20px 20px 0 20px;
  background-color: $secondary-background-color;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  &--slim {
    &::before {
      content: " ";
      display: block;
      width: 67px;
      height: 50px;
      background-image: url("../img/svg/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (min-width: $tablet-width) {
        grid-area: icon;
        width: 200px;
        height: 200px;
        margin-left: 53px;
      }

      @media (min-width: $desktop-width) {
        width: 100px;
        height: 100px;
        margin-left: 0;
      }
    }
  }

  &--pro {
    &::before {
      content: " ";
      display: block;
      width: 67px;
      height: 50px;
      background-image: url("../img/svg/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      @media (min-width: $tablet-width) {
        grid-area: icon;
        width: 268px;
        height: 200px;
        margin-left: 15px;
      }

      @media (min-width: $desktop-width) {
        width: 134px;
        height: 100px;
        margin-left: -15px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    gap: 0;
    padding: 77px 0 37px 52px;
    display: grid;
    grid-template-columns: 340px 316px;
    grid-template-areas: "header icon"
      "desc icon"
      "btn icon";
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding: 40px 52px;
  }
}

.program__header {
  margin: 0;
  color: $base-text-color;
  font-family: $ff-Oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-area: header;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 62px;
  }
}

.program__desc {
  color: $secondary-text-color;
  font-family: $ff-Lato;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    grid-area: desc;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 39px;
  }
}

.program__link {
  @media (min-width: $tablet-width) {
    grid-area: btn;
    margin-top: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
  }
}
