.promo {
  padding-top: 27px;

  font-family: $ff-Oswald;
  text-align: center;
  color: $alternative-text-color;

  background-color: #63a63b;
  background-image: linear-gradient(
      rgba(104, 183, 56, 0.85) calc(100% - 177px),
      #ffffff calc(100% - 177px)
    ),
    url("../img/promo-bg-mob@1x.jpg"),
    linear-gradient(
      rgba(68, 72, 80, 1) calc(100% - 177px),
      #ffffff calc(100% - 177px)
    );
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, auto calc(100% - 177px);

  @supports (background-image: url("../img/promo-bg-mob@1x.webp")) {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85) calc(100% - 177px),
        #ffffff calc(100% - 177px)
      ),
      url("../img/promo-bg-mob@1x.webp"),
      linear-gradient(
        rgba(68, 72, 80, 1) calc(100% - 177px),
        #ffffff calc(100% - 177px)
      );
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(104, 183, 56, 0.85) calc(100% - 177px),
        #ffffff calc(100% - 177px)
      ),
      url("../img/promo-bg-mob@2x.jpg"),
      linear-gradient(
        rgba(68, 72, 80, 1) calc(100% - 177px),
        #ffffff calc(100% - 177px)
      );

    @supports (background-image: url("../img/promo-bg-mob@2x.webp")) {
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85) calc(100% - 177px),
          #ffffff calc(100% - 177px)
        ),
        url("../img/promo-bg-mob@2x.webp"),
        linear-gradient(
          rgba(68, 72, 80, 1) calc(100% - 177px),
          #ffffff calc(100% - 177px)
        );
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 40px;

    text-align: left;
    color: $base-text-color;

    background: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 52px;
  }
}

.promo__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 530px 1fr;
    gap: 20px;
    align-items: start;
  }
}

.promo__wrapper-content {
  @media (min-width: $tablet-width) {
    padding: 0 90px 50px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1;

    padding: 85px 30px 30px 80px;
  }
}

.promo__header {
  margin-bottom: 25px;

  color: $alternative-text-color;

  @media (max-width: $mobile-only) {
    line-height: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;

    color: $base-text-color;
  }
}

.promo__slogan {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__picture {
  display: block;
  width: 280px;
  height: 270px;
  margin: 31px auto 0 auto;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 708px;
    height: 609px;
    margin-top: -83px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / -2;
    grid-row: 1 / span 3;
    order: unset;
    width: 552px;
    height: 499px;
    margin: 4px 0 0 -103px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    width: 244px;
    margin-left: 90px;
    padding: 17px 10px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}
