.promotion {
  padding: 187px 20px 43px;

  font-family: $ff-Oswald;
  text-align: center;
  color: $alternative-text-color;

  background-image: url("../img/sprite.svg#gift-icon"),
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/promotion-mob@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top 58px, top, top;
  background-size: 78px 80px, auto, cover;

  @supports (background-image: url("../img/promotion-mob@1x.webp")) {
    background-image: url("../img/sprite.svg#gift-icon"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promotion-mob@1x.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/sprite.svg#gift-icon"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promotion-mob@2x.jpg");

    @supports (background-image: url("../img/promotion-mob@2x.webp")) {
      background-image: url("../img/sprite.svg#gift-icon"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promotion-mob@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    padding: 72px 20px 70px 59.6%;

    text-align: left;

    background-image: url("../img/sprite.svg#gift-icon"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promotion-tablet@1x.jpg");
    background-position: center left 80px, top, top;

    @supports (background-image: url("../img/promotion-tablet@1x.webp")) {
      background-image: url("../img/sprite.svg#gift-icon"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promotion-tablet@1x.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sprite.svg#gift-icon"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promotion-tablet@2x.jpg");

      @supports (background-image: url("../img/promotion-tablet@2x.webp")) {
        background-image: url("../img/sprite.svg#gift-icon"),
          linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/promotion-tablet@2x.webp");
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding: 186px 20px 26px;

    text-align: center;

    background-image: url("../img/sprite.svg#gift-icon"),
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      url("../img/promotion-mob@1x.jpg");

    @supports (background-image: url("../img/promotion-mob@1x.webp")) {
      background-image: url("../img/sprite.svg#gift-icon"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promotion-mob@1x.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/sprite.svg#gift-icon"),
        linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../img/promotion-mob@2x.jpg");

      @supports (background-image: url("../img/promotion-mob@2x.webp")) {
        background-image: url("../img/sprite.svg#gift-icon"),
          linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          url("../img/promotion-mob@2x.webp");
      }
    }

    background-position: top 59px center, top, right;
  }
}

.promotion__desc {
  margin: 0;
  font-family: $ff-Lato;
}
