.promotion {
  background-image: url("../img/catalog/promotion-mob@1x.jpeg");
  width: 280px;
  height: 290px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/promotion-mob@2x.jpeg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/promotion-tablet@1x.jpeg");
    width: 708px;
    height: 200px;
    flex-direction: row;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/promotion-tablet@2x.jpeg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/promotion-mob@1x.jpeg");
    width: 100%;
    height: 63%;
    flex-direction: column;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/promotion-mob@2x.jpeg");
    }
  }

  &::before {
    content: " ";
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../img/svg/gift-icon.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 83px;
    }
  }
}

.promotion__desc {
  margin: 0;
  padding: 0;
  display: block;
  width: 161px;

  color: $alternative-text-color;
  text-align: center;
  font-family: $ff-Lato;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
