.promo {
  background-color: $base-background-color;
  margin: 0;
  padding: 0 20px;
  background-image: url("../img/promo-background-mob@1x.png"),
    linear-gradient(to right, #64a83d 50%, #63a63b 50%),
    linear-gradient(#63a63b 100%, $base-background-color 60%);
  background-size: auto 64%;
  background-position: center 0;
  background-repeat: no-repeat;

  color: $alternative-text-color;
  text-align: center;
  font-family: $ff-Oswald;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    background-image: none;
  }
}

/*.promo__wrapper-content {
  width: 280px;
  //height: 265px;
  margin: auto;
  padding: 37px 20px 0 20px;
  background-color: $accent-background-color;
  background-image: url("../img/promo-background-mob@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-size: 100% 302px;
  position: relative;
}*/

.promo__header {
  margin: 0;
  padding: 27px 0 0 0;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    padding: 65px 90px 0 90px;
    color: $base-text-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 25px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 40px 90px 0 90px;
    color: $base-text-color;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.promo__picture {
  //position: absolute;
  display: block;
  width: 280px;
  height: 270px;
  margin: 29px auto 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 609px;
    margin: 21px auto 0 auto;
  }
}

.promo__picture-img {
  @media (min-width: $tablet-width) {
    content: url("../img/promo-can-tablet@1x.png");
    width: 708px;
    height: 609px;
  }
}

.promo__wrapper-action {
  width: 280px;
  //padding: 0 20px;
  margin: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 295px;
    left: 120px;
  }
}
