.selection-form__dop-wrapper {
  @media (min-width: $desktop-width) {
    padding: 66px 110px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.selection-form__section {
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &--data {
    padding: 39px 20px 21px 20px;

    @media (min-width: $tablet-width) {
      padding: 66px 70px 72px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--radio {
    padding: 22px 20px 19px 20px;

    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      padding: 24px 25px;
      border: 1px solid $section-border-color;
    }

    @media (min-width: $desktop-width) {
      //padding: 0;
      padding: 25px 28px;
      margin: 0;
    }
  }

  &--contacts {
    padding: 69px 20px 0 0;
    //position: relative;

    @media (min-width: $tablet-width) {
      padding: 88px 70px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 89px 110px 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }

  &--comment {
    padding: 45px 20px 0 0;

    @media (min-width: $tablet-width) {
      padding: 99px 70px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 89px 110px 6px;
    }
  }

  &--more-info {
    padding: 37px 20px 0 0;

    @media (min-width: $tablet-width) {
      padding: 68px 70px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 69px 110px 0;
    }
  }

  &--accent {
    border-top: 2px solid $accent-background-color;
    margin: 42px 0 0 20px;

    @media (min-width: $tablet-width) {
      margin: 87px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      margin: 89px 0 0 0;
    }
  }
}

.selection-form__section-legend {
  display: block;
  max-width: 187px;
  margin: 0;
  padding: 0 20px 0 0;
  position: absolute;
  top: -18px;
  left: 0;
  background-color: #ffffff;


  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;

    top: -24px;
    left: 29px;
  }

  @media (min-width: $desktop-width) {
    left: 69px;
  }
}

.selection-form__section-group-item {
  height: 45px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &--comment {
    height: 150px;

    @media (min-width: $tablet-width) {
      height: 175px;
    }
  }
}

.selection-form__text-input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid $text-input-border-color;
  position: relative;
}

.selection-form__text-input-icon {
  position: absolute;
  display: block;
  right: 12px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;

  @media (min-width: $tablet-width) {
    right: 14px;
  }

  @media (min-width: $desktop-width) {
    right: 16px;
  }

  &--email {
    mask-image: url("../img/stack.svg#input-email");
  }

  &--phone {
    mask-image: url("../img/stack.svg#input-phone");
  }
}

.selection-form__label {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  margin-top: -5px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-form__text-input-custom {
  width: 100%;
  height: 45px;

  color: $secondary-text-color;
  font-family: $ff-Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0  45px 0 15px;
  border: 1px solid $text-input-border-color;

  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 2px solid #444444;
  }

  &:focus {
    border: 2px solid #444444;

    & ~ .selection-form__text-input-icon {
      background-color: $accent-background-color;
    }
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 52px 0 20px;
  }
}

.selection-form__text-input {
  width: 100%;
  height: 45px;
  border: 1px solid $text-input-border-color;

  color: $secondary-text-color;
  font-family: $ff-Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 15px;

  outline: none;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:active {
    border: 2px solid #444444;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;
  }

  &--comment {
    display: block;
    height: 120px;
    padding: 14px 15px;

    @media (min-width: $tablet-width) {
      height: 150px;
      font-size: 20px;
      line-height: 30px;
      padding: 11px 20px;
    }
  }
}

.input-errors {
  border: 2px solid #ff8282;

  & ~ .selection-form__text-input-icon {
    background-color: #ff8282;
  }
}

.selection-form__send-section {
  width: 280px;
  margin: 33px auto;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 54px auto 60px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 55px;
    margin: 61px auto 80px auto;
  }
}
