.selection-form__section {
  text-decoration: none;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  &--data {
    padding: 39px 20px 26px 20px;

    @media (min-width: $tablet-width) {
      padding: 66px 70px 72px 70px;
    }
  }

  &--radio {
    padding: 22px 20px 19px 20px;

    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;

    @media (min-width: $tablet-width) {
      margin: 0 70px;
      padding: 27px 23px;
      border: 1px solid $section-border-color;
    }
  }

  &--contacts {
    padding: 35px 20px 0 0;
    //position: relative;

    @media (min-width: $tablet-width) {
      padding: 89px 70px 0;
    }
  }

  &--comment {
    padding: 38px 20px 0 0;

    @media (min-width: $tablet-width) {
      padding: 99px 70px 0;
    }
  }

  &--more-info {
    padding: 42px 20px 0 0;

    @media (min-width: $tablet-width) {
      padding: 69px 70px 0;
    }
  }

  &--accent {
    border-top: 2px solid $accent-background-color;
    margin: 25px 0 0 20px;
    //margin: 0 0 0 20px;

    @media (min-width: $tablet-width) {
      margin: 89px 0 0 0;
    }
  }
}

.selection-form__section-legend {
  display: block;
  max-width: 187px;
  margin: 0;
  padding: 0 20px 0 0;


  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    margin-left: -40px;
    padding: 0 40px;
    font-size: 36px;
    line-height: 36px;
  }
}

.selection-form__section-group-item {
  height: 45px;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 52px;
  }

  &--comment {
    height: 150px;

    @media (min-width: $tablet-width) {
      height: 175px;
    }
  }
}

.selection-form__text-input-wrapper {
  display: flex;
  width: 100%;
}

.selection-form__label {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 13px;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.selection-form__text-input {
  width: 100%;
  height: 45px;
  border: 1px solid $text-input-border-color;

  color: $secondary-text-color;
  font-family: $ff-Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 20px;
  }

  &--comment {
    display: block;
    height: 150px;
    padding: 14px 15px;

    @media (min-width: $tablet-width) {
      height: 175px;
      font-size: 20px;
      line-height: 30px;
      padding: 11px 20px;
    }
  }
}

.selection-form__send-section {
  width: 280px;
  margin: 34px auto;

  @media (min-width: $tablet-width) {
    width: 628px;
    margin: 54px auto 60px;
  }
}
