.send-section {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.send-section__button {
  @media (min-width: $tablet-width) {
    height: 52px;

    font-size: 20px;
  }
}

.send-section__required-fields-text {
  text-align: center;
  font-family: $ff-Lato;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
  }
}
