
.site-list {
  display: block;
}

.site-list__item {
  min-width: 320px;
  height: 66px;
  background-color: $base-background-color;
  border-top: 1px solid $site-list-border-color;
}

.site-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66px;
  text-decoration: none;

  color: $base-text-color;
  font-family: $ff-Oswald;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
