.site-list {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 33px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
}

.site-list__item {
  border-top: 1px solid $site-list-border-color;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.site-list__link {
  display: block;
  padding: 23px 20px 22px;

  font-size: 20px;
  font-family: $ff-Oswald;
  text-align: center;
  color: $base-text-color;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 10px 0 8px;

    font-size: 18px;
    line-height: 24px;

    border-bottom: 2px solid transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;

    font-size: 20px;
    line-height: 30px;
  }

  &--current {
    @media (min-width: $tablet-width) {
      border-color: $accent-background-color;
    }
  }

  &:hover,
  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.site-list--home .site-list__link {
  @media (min-width: $desktop-width) {
    color: $alternative-text-color;
  }

  &--current {
    @media (min-width: $desktop-width) {
      border-color: currentColor;
    }
  }
}
