.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: flex-start;
    column-gap: 40px;
  }
}

.stats__item {
  position: relative;
  width: 124px;
  height: 56px;
  border: 2px solid $stats-border-color;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 158px;
    height: 68px;
  }

  &--total {
    margin-top: 10px;
    width: 100%;
    border: none;
    flex-direction: row;

    @media (min-width: $tablet-width) {
      width: auto;
      margin-top: 0;
      min-width: 174px;
      flex-grow: 2;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}

.stats__index {
  color: $base-text-color;
  text-align: center;
  font-family: $ff-Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  &--total {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
    }
  }
}

.stats__desc {
  margin: 0;
  position: absolute;
  top: 46px;
  width: 80px;
  background-color: $secondary-background-color;

  color: $secondary-text-color;
  text-align: center;
  font-family: $ff-Lato;
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    width: auto;
    max-width: 150px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 10px;
    position: absolute;
    top: 61px;
    background-color: $base-background-color;
  }

  &--total {
    position: initial;
    color: $base-text-color;
    font-family: $ff-Lato;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      background-color: $base-background-color;
    }
  }
}
