@mixin retina-bg($img_path, $file_ext: "jpg") {
  background-image: url("#{$img_path}.#{$file_ext}");

  @supports (background-image: url("#{$img_path}.webp")) {
    background-image: url("#{$img_path}.webp");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("#{$img_path}@2x.#{$file_ext}");

    @supports (background-image: url("#{$img_path}@2x.webp")) {
      background-image: url("#{$img_path}@2x.webp");
    }
  }
}
