
$base-background-color: #ffffff;
$secondary-background-color: #f2f2f2;
$accent-background-color: #68b738;

$base-text-color: #000000;
$alternative-text-color: #ffffff;
$secondary-text-color: #444444;
$show-more-card-title-color: #111111;
$product-list-item-header-color: #222222;

$stats-border-color: #cdcdcd;
$site-list-border-color: #e6e6e6;
$section-border-color: #d9d9d9;
$text-input-border-color: #e7e7e7;
$product-border-colr: #ebebeb;

$ff-Oswald: "Oswald", "Roboto", sans-serif;
$ff-Lato: "Lato", "Roboto", sans-serif;

$tablet-width: 768px;
$desktop-width: 1330px;

.page__body {
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
}

.page__body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 2150px;
  margin: 0 auto;
}
