
$base-background-color: #FFFFFF;
$secondary-background-color: #F2F2F2;
$accent-background-color: #68B738;

$base-text-color: #000000;
$alternative-text-color: #FFFFFF;
$secondary-text-color: #444444;
$show-more-card-title-color: #111111;
$product-list-item-header-color: #222222;

$stats-border-color: #CDCDCD;
$site-list-border-color: #E6E6E6;
$section-border-color: #D9D9D9;
$text-input-border-color: #E7E7E7;

$ff-Oswald: "Oswald", "Roboto", sans-serif;
$ff-Lato: "Lato", "Roboto", sans-serif;

.page__body {
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
}
